.profile-container {
  margin-top: 20px;
  color: #ffffff;
  padding: 20px;
  border-radius: 8px;
}

.profile-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-title {
  margin-bottom: 20px;
  color: #ffffff; 
  font-weight: bold;
}

.user-info-paper {
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
}

.comment-grid{
  margin-left: 0 !important;
  width: 100% !important;
}

.comment-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2a2a2a;
  padding: 10px;
  margin: 10px 0;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comment-item .MuiIconButton-root {
  margin-left: 10px;
  color: #ffffff;
}

.comment-item .MuiIconButton-root.edit-icon:hover {
  color: rgb(0, 89, 255);
}

.comment-item .MuiIconButton-root.delete-icon:hover {
  color: red;
}

.video-icon-buttons {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.video-icon-buttons .MuiIconButton-root {
  color: white;
  margin-right: 8px;
}

.video-icon-buttons .MuiIconButton-root:last-child {
  margin-right: 0;
}

.video-icon-buttons .MuiIconButton-root.edit-icon:hover {
  color: rgb(0, 89, 255);
}

.video-icon-buttons .MuiIconButton-root.delete-icon:hover {
  color: red;
}

.no-content-message {
  padding-top: 30px;
  font-size: 2rem;
  text-align: center;
}

.delete-user-button {
  width: 15%;
  padding: 12px 30px;
  background-color: red;
  color: #fff;
  border: 2px solid darkred;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.delete-user-button:hover {
  background-color: darkred;
  border-color: #8b0000;
}

.delete-user-button:active {
  transform: translateY(2px);
}

.hr {
  border: 0;
  border-top: 1px solid white;
  margin: 20px 0;
}

.user-info-title {
  margin-bottom: 10px;
  font-weight: bold;
}

.username {
  font-size: 1.5rem;
  color: #b0bec5;
}

.comment-container {
  margin-bottom: 1rem;
}

.user-icon { 
  margin-right: 10px;
}